<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="src/components/cursor/cursor.css">
    <link rel="stylesheet" href="src/components/navbar/navbar.css">
    <link rel="stylesheet" href="src/body/body.css">
    
    <link rel="stylesheet" href="src/components/projects/projects.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&family=JetBrains+Mono:wght@300&display=swap" rel="stylesheet">

    <title>Projetos | Richard S. Leichter</title>
</head>
<body>
    <header class="header-nav">
        <nav id="navbar" class="nav-box">
            <div class="nav-logo">
                RICHARD S. LEICHTER <span class="text-orange-500 mx-1">//</span> 2026
            </div>
            <ul class="nav-list">
                <li><a href="index.html#home" class="nav-item">Home</a></li>
                <li><a href="index.html#about" class="nav-item">About</a></li>
                <li><a href="#" class="nav-item" style="color: #f97316;">Projetos</a></li>
                <li><a href="index.html#contato" class="nav-item">Contato</a></li>
            </ul>
        </nav>
    </header>
    
    <div id="custom-mouse-dot"></div>
    <div id="custom-mouse-ring"></div>

    <main style="min-height: 100vh; display: flex; align-items: center; justify-content: center;">
        <div class="carousel">
            <div class="track" id="track"></div>
        </div>
    </main>
  
    <script src="src/components/cursor/cursor.js"></script>
    <script src="src/components/navbar/navbar.js"></script>
    <script src="src/components/projects/projects.js"></script>
</body>
</html>