body {
    background-color: #ffffff;
    color: #1a1a1a;
    font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: -2px;
}

.typewriter::after{
    content: '|';
    margin-left: 4px;
    animation: blink 1s infinite;
    color: #ff4f00;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}