@import url('src/components/cursor/cursor.css');

:root {
    --bg: #1b1919f8;
    --text: #f5f5f5;
    --accent: #ff4f00;
    --subtle: rgba(255, 255, 255, 0.03);
    --border: rgba(255, 255, 255, 0.3);
    --font-mono: 'Menlo', 'Monaco', 'Courier New', monospace;
    --transition-smooth: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg);
    color: var(--text);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-bottom: 1px solid var(--border);
    background: transparent;
    backdrop-filter: blur(10px);
}

.logo {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.accent-text { color: var(--accent); }


h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 300;
    letter-spacing: -3px;
    line-height: 1.1;
    margin: 0;
    text-align: center;

}

.typewriter::after{
    color: #ff4f00;
    content: '_';
    animation: blink 0.8s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
