<header class="header-nav">
    <nav id="navbar" class="nav-box">
        
        <div class="nav-logo hidden lg:block">
            RICHARD S. LEICHTER <span class="text-orange-500 mx-1">//</span> 2026
        </div>

        <ul class="nav-list">
            <li><a href="#home" class="nav-item">Home</a></li>
            <li><a href="#about" class="nav-item">About</a></li>
            <li><a href="#projetos" class="nav-item">Projetos</a></li>
            <li><a href="#contato" class="nav-item">Contato</a></li>
        </ul>
    </nav>
</header>
