* {
    cursor: none !important;
}


#custom-mouse-dot {
    width: 6px;
    height: 6px;
    background-color: #ff4f00;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
    transform: translate(-50%, -50%);
}
#custom-mouse-ring {
    width: 30px;
    height: 30px;
    border: 1px solid #ff4f00;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
    transition: transform 0.2s ease-out, background 0.2s ease-out;
}